{% extends 'base.html' %}

{% block content %}
{% assets "reservejs" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<h1>{% block title %} Make New Reservation {% endblock %}</h1>
<div class="container">
  <div class="row justify-content-center">
    <form id="form" method="post" action="add">
      <select name="name">
        <option value="{{students[0].name}}" selected>{{students[0].name}}</option>
        {% for student in students[1:] %}
        <option value="{{student.name}}">{{student.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>

      <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
        <input placeholder="Select date" type="text" id="example" class="form-control">
        <label for="example">Try me...</label>
        <i class="fas fa-calendar input-prefix" tabindex=0></i>
      </div>


      <select id="select_items" name="select_items">
        <option value="{{items[0].id}}" selected>{{items[0].name}}</option>
        {% for item in items[1:] %}
        <option value="{{item.id}}">{{item.name}}</option>
        {% endfor %}
      </select><br>
      <input type="button" onclick="addItem()" value="Add"><br><br>
      <div style="width:0;overflow: hidden;"><input type="text" id="ids" name=ids></div>
      <p id="items"></p>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}