{% extends 'base.html' %}

{% block content %}
{% assets "reservejs" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>

<h1>{% block title %} Make New Reservation {% endblock %}</h1>
<div class="container">
  <div class="row justify-content-center">
    <form id="form" method="post" action="add">
      <select name="name">
        <option value="{{students[0].name}}" selected>{{students[0].name}}</option>
        {% for student in students[1:] %}
        <option value="{{student.name}}">{{student.name}}</option>
        {% endfor %}
      </select>
      <br>
      <br>

      <input type="date" name="date" id="date"><br><br>


      <select id="select_items" name="select_items">
        <option value="{{items[0].id}}" selected>{{items[0].name}}</option>
        {% for item in items[1:] %}
        <option value="{{item.id}}">{{item.name}}</option>
        {% endfor %}
      </select><br>
      <input type="button" onclick="addItem()" value="Add"><br><br>
      <div style="width:0;overflow: hidden;"><input type="text" id="ids" name=ids></div>
      <p id="items"></p>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}