{% extends "base.html" %}

{% block content %}
{% assets "scanjs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<form id="edit_item" method="post" action="{{url_for('admin.edit_item', id=item.id)}}">
    <label for="name">Item Name</label><br>
    <input type="text" name="name" id="name" value="{{item.name}}"><br><br>
    <label for="type">Item Type</label><br>
    <input type="text" name="type" value="{{item.type}}"><br><br>
    <label for="status">Item Status</label><br>
    {% if item.status == 'Out For Maintenance' %}
        <input type="checkbox" name="status" value = '0' checked=true> Out For Maintenance?<br><br>
    {% else %}
        <input type="checkbox" name="status" value = '0'> Out For Maintenance?<br><br>
    {% endif %}
    <label for="scan">Code</label><br>
    <input type = "button" name="scan" id="scan" value = "Scan" />
    <div style="width:0;"><input id="code" name=code></div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
{% endblock %}