{% extends "base.html" %}

{% block content %}
<form id="edit_student" method="post" action="{{url_for('admin.edit_student', id=student.id)}}">
    <label for="name">Student Name</label><br>
    <input type="text" name="name" id="name" value="{{student.name}}"><br><br>
    <label for="type">Student Email</label><br>
    <input type="text" name="email" value="{{student.email}}"><br><br>
    <label for="type">Student Position</label><br>
    <input type="text" name="pos" value="{{student.pos}}"><br><br>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>
{% endblock %}