{% extends "admin/dashboard.html" %}

{% block main %}
    {% assets "adminjs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    
    
    <h1>{{ student.name }}</h1>
    <h2>{{ student.pos }}</h2>
    <p>{{ student.email }}</p>
    {% if student.items %}
        <h2>Checked Out: </h2>
        <br>
        {%for i in student.items%}
        <div class="card">
            {{i.name}}
            <h5>{{i.status_date}} </h5>
        </div>
        <br>
        {% endfor %} 
    {%endif%}

    <br><br>
    <h1>Items</h1>
    <div id="item_section">
    <table class="table" id="item_table">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Status Date</th>
            <th>Student</th>
            <th></th>
            <th>
                <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#add_item_m"><i class="fa fa-plus"></i>Add Item</button>
                    <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#import_item_m"><i class="fa fa-file"></i> Import CSV</button>
                      <a class="btn btn-link" href="{{url_for('admin.export_items')}}">Export CSV</a>
                    </div>
                  </div>

            </th>   
        </tr>
        {%for i in items%}
        <tr>
            <td>{{i.code}}</td>
            <td>{{i.name}}</td>
            <td>{{i.type}}</td>
            <td>{{i.status}}</td>
            <td>{{i.status_date.strftime('%Y-%m-%d')}}</td>
            <td>{{i.student.name}}</td>
            <td><a href="{{url_for('admin.edit_item', id=i.id)}}"><i class="fa fa-pencil"></i><br> Edit</a>
            </td><td>
            <a class="text-danger m-3"href="{{url_for('admin.delete_item', id=i.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
            </td>
        </tr>

        {% endfor %} 
    </table>
    </div>

    <!-- Add Item Modal -->
    <div class="modal fade" id="add_item_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="new_item">
                        <label for="name">Item Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Item Type</label><br>
                        <input type="text" name="type"><br><br>
                        <label for="scan">Code</label><br>
                        <input type = "button" name="scan" id="scan" value = "Scan" />
                        <div style="width:0;overflow:hidden;"><input id="code" name=code></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Import Item Modal -->
    <div class="modal fade" id="import_item_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Import Items</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="item/import" enctype="multipart/form-data">
                        <label for="file">Import a file:</label><br>
                        <input type="file" id="file" name="file" accept=".csv">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}