{% extends "admin/dashboard.html" %}
{% import 'macros.html.j2' as m %}

{% block main %}
    {% assets "adminjs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    
    
    <h1>{{ student.name }}</h1>
    <h2>{{ student.pos }}</h2>
    <p>{{ student.email }}</p>
    {% if student.items %}
        <h2>Checked Out: </h2>
        <br>
        {%for i in student.items%}
        <div class="card">
            {{i.name}}
            <h5>{{i.status_date}} </h5>
        </div>
        <br>
        {% endfor %} 
    {%endif%}

    <br><br>
    <h1>Items</h1>
    <table class="table table-striped" id="item_table">
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Status Date</th>
            <th>Student</th>
            <th></th>
            <th>
                <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#add_item_m"><i class="fa fa-plus"></i>Add Item</button>
                    <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#import_item_m"><i class="fa fa-file"></i> Import CSV</button>
                      <a class="btn btn-link" href="{{url_for('admin.export_items')}}">Export CSV</a>
                    </div>
                  </div>

            </th>   
        </thead>
        {%for i in items%}
        <tr>
            <td>{{i.code}}</td>
            <td>{{i.name}}</td>
            <td>{{i.type}}</td>
            <td>{{i.status}}</td>
            <td>{{i.status_date.strftime('%Y-%m-%d')}}</td>
            <td>{{i.student.name}}</td>
            <td><a href="{{url_for('admin.edit_item', id=i.id)}}"><i class="fa fa-pencil"></i><br> Edit</a>
            </td><td>
            <a class="text-danger m-3"href="{{url_for('admin.delete_item', id=i.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
            </td>
        </tr>

        {% endfor %} 
    </table>

    <!-- Add Item Modal -->
    {% call m.modal("add_item_m", "Add New Item") %}
    <form id="form" method="post" action="new_item">
        {{m.input("name", "Item Name")}}<br><br>
        {{m.input("type", "Item Type")}} <br><br>
        {{m.input("scan", "Code", type="button",value="Scan")}} <br>
        <div style="width:0;overflow:hidden;"><input id="code" name=code></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    {% endcall %}


    <!-- Import Item Modal -->
    {% call m.modal("import_item_m", "Import New Items") %}
    <form id="form" method="post" action="item/import" enctype="multipart/form-data">
        {{m.file_input("file","Select File: ", accept=".csv")}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
    {% endcall %}
{% endblock %}