{% extends "base.html" %}

{% block content %}
    {% assets "adminjs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    <h1>{{ student.name }}</h1>
    <h2>{{ student.pos }}</h2>
    <p>{{ student.email }}</p>
    {% if student.items %}
        <h2>Checked Out: </h2>
        <br>
        {%for i in student.items%}
        <div class="card">
            {{i.name}}
            <h5>{{i.status_date}} </h5>
        </div>
        <br>
        {% endfor %} 
    {%endif%}

    <br><br>
    <h1>Items</h1>
    <div id="item_section">
    <table class="table" id="item_table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Status Date</th>
            <th>Student</th>
            <th><button class="btn btn-link"  data-toggle="modal" data-target="#add_item_m"><i class="fa fa-plus"></i>Add Item</button></th>
            <th>
                <a href="#">Import CSV</a>

            </th>
        </tr>
        {%for i in items%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.type}}</td>
            <td>{{i.status}}</td>
            <td>{{i.status_date}}</td>
            <td>{{i.student.name}}</td>
            <td><button class="btn btn-link"  data-toggle="modal" data-target="#edit_item_m" onclick='addID( {{i.id}} )'><i class="fa fa-pencil"></i>Edit Item</button>
            </td><td>
            <a class="text-danger m-3"href="{{url_for('admin.delete_item', id=i.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
            </td>
        </tr>

        {% endfor %} 
    </table>
    </div>
    
    <br><br>
    <h1>Students</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
            <th><button class="btn btn-link"  data-toggle="modal" data-target="#add_student_m"><i class="fa fa-plus"></i>Add Student</button></th>
            <th>
                <a href="#">Import CSV</a>

            </th>
        </tr>
        {%for s in students%}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.pos}}</td>
            <td>{{s.email}}</td>
            <td><a class="m-3" href="{{url_for('admin.edit_student', id=s.id)}}">
                <i class="fa fa-pencil"></i>
                <p>Edit</p>
            </a>
            </td><td>
            <a class="text-danger m-3"href="{{url_for('admin.delete_student', id=s.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
            </td>
        </tr>

        {% endfor %} 
    </table>

    <br><br>
    <h1>Reservations</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Item</th>
            <th>Date</th>
            <th></th>
        </tr>
        {%for r in reservations%}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.student.name}}</td>
            <td>{{r.item.name}}</td>
            <td>{{r.date_out}}</td>
            <td><a class="m-3" href="{{url_for('main.edit_reservation', id=r.id)}}">
                <i class="fa fa-pencil"></i>
                <p>Edit</p>
            </a>
            </td><td>
            <a class="text-danger m-3"href="{{url_for('main.delete_reservation', id=r.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
            </td>
        </tr>

        {% endfor %} 
    </table>

    <!-- Add Item Modal -->
    <div class="modal fade" id="add_item_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="new_item">
                        <label for="name">Item Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Item Type</label><br>
                        <input type="text" name="type"><br><br>
                        <label for="scan">Code</label><br>
                        <input type = "button" name="scan" id="scan" value = "Scan" />
                        <div style="width:0;"><input id="code" name=code></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Add Student Modal -->
    <div class="modal fade" id="add_student_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="new_student">
                        <label for="email">Email</label><br>
                        <input type="text" name="email" id="email"><br><br>
                        <label for="name">Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Position</label><br>
                        <input type="text" name="position" id="position"><br><br>
                        <label for="pwd">Password</label><br>
                        <input type="password" name="pwd" id="pwd" style="display: none;"><br><br>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Edit Item Modal -->
    <div class="modal fade" id="edit_item_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="edit_item" method="post" action="{{url_for('admin.edit_item', id=1)}}">
                        <label for="name">Item Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Item Type</label><br>
                        <input type="text" name="type"><br><br>
                        <label for="scan">Code</label><br>
                        <input type = "button" name="scan" id="scan" value = "Scan" />
                        <div style="width:0;"><input id="code" name=code></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Edit Student Modal -->
    <div class="modal fade" id="edit_student_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="new_item">
                        <label for="name">Item Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Item Type</label><br>
                        <input type="text" name="type"><br><br>
                        <label for="scan">Code</label><br>
                        <input type = "button" name="scan" id="scan" value = "Scan" />
                        <div style="width:0;"><input id="code" name=code></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Edit Reservation Modal -->
    <div class="modal fade" id="edit_res_m" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="new_item">
                        <label for="name">Item Name</label><br>
                        <input type="text" name="name" id="name"><br><br>
                        <label for="type">Item Type</label><br>
                        <input type="text" name="type"><br><br>
                        <label for="scan">Code</label><br>
                        <input type = "button" name="scan" id="scan" value = "Scan" />
                        <div style="width:0;"><input id="code" name=code></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}