{% extends "admin/dashboard.html" %}
{% import 'macros.html.j2' as m %}

{% block main %}
{% assets "adminjs" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}



<h1>{{ student.name }}</h1>
<h2>{{ student.pos }}</h2>
<p>{{ student.email }}</p>
{% if student.items %}
<h2>Checked Out: </h2>
<br>
{%for i in student.items%}
<div class="card">
    {{i.name}}
    <h5>{{i.status_date}} </h5>
</div>
<br>
{% endfor %}
{%endif%}

<br><br>
<h1>Students</h1>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th></th>
        <th>
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#add_student_m"><i class="fa fa-plus"></i>Add Student</button>
                <button class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#import_student_m"><i class="fa fa-file"></i> Import CSV</button>
                  <a class="btn btn-link" href="{{url_for('admin.export_students')}}">Export CSV</a>
                </div>
              </div>

        </th>
    </thead>
    {%for s in students%}
    <tr>
        <td>{{s.name}}</td>
        <td>{{s.pos}}</td>
        <td>{{s.email}}</td>
        <td><a class="m-3" href="{{url_for('admin.edit_student', id=s.id)}}">
                <i class="fa fa-pencil"></i>
                <p>Edit</p>
            </a>
        </td>
        <td>
            <a class="text-danger m-3" href="{{url_for('admin.delete_student', id=s.id)}}">
                <i class="fa fa-trash fa-xs"></i>
                <p>Delete</p>
            </a>
        </td>
    </tr>

    {% endfor %}
</table>

<!-- Add Student Modal -->
{% call m.modal("add_student_m", "Add New Student") %}
<form id="form" method="post" action="new_student">
    {{m.input("email", "Student Email")}}<br><br>
    {{m.input("name", "Student Name")}} <br><br>
    {{m.input("position", "Student Position", id="position")}} <br><br>
    <div style="display: none;" id="password_field">{{m.input("pwd", "Password", type="password")}} <br><br></div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endcall %}


<!-- Import Student Modal -->
{% call m.modal("import_student_m", "Import New Students") %}
<form id="form" method="post" action="student/import" enctype="multipart/form-data">
    {{m.file_input("file","Select File: ", accept=".csv")}}
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Import</button>
</form>
{% endcall %}



{% endblock %}
